
<nav class="nav nav-tabs" id="nav-tab" role="tablist">
  <a class="nav-link active" id="nav-inicio-tab" data-bs-toggle="tab" href= medical_centers role="tab" aria-controls="nav-inicio" aria-selected="true">Inicio</a>
  <a class="nav-link active" id="nav-CentroSalud-tab" data-bs-toggle="tab" href= medical_centers role="tab" aria-controls="nav-CentroSalud" aria-selected="true">Centros de Salud</a>
  <a class="nav-link active" id="nav-trabajadores-tab" data-bs-toggle="tab" href= workers role="tab" aria-controls="nav-trabajadores" aria-selected="true">trabajadores</a>
  <a class="nav-link active" id="nav-guardias-tab" data-bs-toggle="tab" href= guards role="tab" aria-controls="nav-guardias" aria-selected="true">guardias</a>
  <a class="nav-link active" id="nav-turnos-tab" data-bs-toggle="tab" href= appointments role="tab" aria-controls="nav-turnos" aria-selected="true">turnos</a>
  <a><%= render 'shared/user_menu' %></a>
  </nav>
 